.page__about {
    line-height-step: 900px;

    img {
         width: 30%;
         padding-left: 900px;
        
        }
     h4 {
        font-size: 26px;
        
        
    }

    h2 {
        font-size: 32.5px;

    }
    .Titlepage{
        background-image: -webkit-linear-gradient(left, green, yellow);
        color:green;
    }

    .imgLogo{
        position: relative;
        left:1px;
        size-adjust:20%;
    }

    
}


.textFR{
    position:relative;
    left: 190px;
    top:-50px;
}

.Cristiano{
    position:relative;
    left:-220px;
    top: 140px;
}

.textPT{
    position:relative;
    left:-530px;
    top:-50px;
}

