.header__toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    a {
        margin: 0px 20px;
    }
    svg {
        width: 20px;
    }
    .cart {
        position: relative;
        .cart__count {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background: red;
            right: -55%;
            top: -35%;
            span {
                color: white;
                font-size: 10px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    
}
