body {
    font-family: $mainFont;
    background-color: rgb(255, 255, 255);
 
    
}

h1,
h2,
h3,
h4 {
    padding: 30px;
    font-family: $titleFont;
    font-size: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left,green,red, red,green,green);  
}

a {
    color: black;
    text-decoration: none;
}

.container{
     box-sizing: border-box;
     border-radius: 15px;
     box-shadow: 0  15px 50px rgba(0,0,0,0.2);
     background-image: -webkit-linear-gradient(rgba(251, 255, 0, 0.822),rgb(236, 232, 0),rgb(255, 217, 0),rgb(255, 217, 0),rgb(255, 217, 0),rgb(255, 174, 0)); 
     
}

.sousTitre{
    font-size: 30px;
    text-align: center;
}
img {
     margin-right:auto;
     margin-left:auto;
     vertical-align: middle;
}

h5{
    font-size:30px;
    font-family: $titleFont;
}

h6{
    font-size:21px;
    font-family: $titleFont;   
    vertical-align: middle;
    
    
}

.pNum{
    text-align: center;
    font-family: $titleFont; 
    font-size:21px;
}

.pMail{
    text-align: center;
    font-family: $titleFont;
    font-size:21px;

}

.pEnt{
    text-align: center;
    font-family: $titleFont;
    font-size:21px;
}

.textFR{
    position:relative;
    left: 190px;
    top:-50px;
}

.Cristiano{
    position:relative;
    left:-220px;
    top: 140px;
}

.textPT{
    position:relative;
    left:-530px;
    top:-50px;
}

.imgLogo{
    position: relative;
    left:1px;
}